body {
    /* background-color: rgb(235, 235, 235); */
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}


/* Navbar container */

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #3F00FF;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

#prototype {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#presentation {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#main-header {
    background-color: rgb(46, 144, 255);
    color: #000;
}


/* #navbar {
    background-color: rgb(155, 195, 255);
    color: #000;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
} */

#showcase {
    background-image: url('https://rawcdn.githack.com/nasif-mahmood/YouSee/c82f172150076f2656d1d5c681b33bbbeb487444/images/showcase1.jpg');
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color: #000;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#showcase p {
    color: #000;
}

#main-outline {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#main-outline h2 {
    font-size: 18px;
}

#descripton-box {
    float: right;
    width: 30%;
    background: #001b87;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 600px) {
    #main {
        width: 100%;
        float: none;
    }
}